<!DOCTYPE html>
<html lang="en">

<head>
{{> header}}
</head>

<body class="fix-header fix-sidebar card-no-border">
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    {{> preloader}}
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        {{> topbar}}
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        {{> navbar}}
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div class="row page-titles">
                    <div class="col-md-6 col-8 align-self-center">
                        <h3 class="text-themecolor m-b-0 m-t-0">Instrument Review Kematian Balita</h3>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                            <li class="breadcrumb-item active">Instrument Review Kematian Balita</li>
                        </ol>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <!-- Row -->
                {{!-- Start of Notifikasi --}}
                {{#if sessionFlash.message}}
                    <div class="alert alert-danger"> 
                        {{sessionFlash.message}}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
                    </div>
                {{/if}}
                {{#if sessionFlash2.message}}
                    <div class="alert alert-success"> 
                        {{sessionFlash2.message}}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
                    </div>
                {{/if}}
                {{!-- End of Notifikasi --}}
                <div class="row">
                    <div class="col-12">
                        <div class="card card-outline-info">
                            {{!-- <div class="card-header">
                                <h4 class="m-b-0 text-white">Form Soal</h4>
                            </div> --}}
                            <div class="card-block">
                                <form id="simpanjawaban" action="jawab/reg" method="post">
                                    <input type="hidden" class="form-control" id="iduser" name="iduser" value="{{ idu }}">
                                    {{!-- Start of tabel list soal --}}
                                    <h4 class="card-title">1. Identitas Balita</h4>
                                    <h6 class="card-subtitle"> Jawablah pertanyaan-pertanyaan berikut</h6>
                                    <hr>
                                    <div class="table-responsive m-t-40">
                                        <table id="soalassessment" class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                                            <thead>
                                                <tr>
                                                    <th class="text-center">No.</th>
                                                    <th class="text-center">Soal</th>
                                                </tr>
                                            </thead>
                                            <tfoot>
                                                <tr>
                                                    <th class="text-center">No.</th>
                                                    <th class="text-center">Soal</th>
                                                </tr>
                                            </tfoot>
                                            <tbody>
                                                    <tr>
                                                        <td class="text-center">
                                                            1.1
                                                        </td>
                                                        <td>
                                                            Nama Balita: <br>
                                                            <input type="hidden" class="form-control" id="soal1.1" name="soal1.1" value="Nama Balita:">
                                                            <input type="text" class="form-control" id="jawabannamabalita" name="jawabannamabalita">
                                                            {{!-- {{#compare max_jawaban '2' operator="=="}}
                                                                <div class="toggle">
                                                                    <input class="m-r-200" type="radio" required="required" name="radio{{id}}" id="radioa_{{id}}" value="{{ a }}">
                                                                    <label class="m-r-200" for="radioa_{{id}}"> {{ a }} </label>
                                                                    &nbsp

                                                                    <input type="radio" required="required" name="radio{{id}}" id="radiob_{{id}}" value="{{ b }}">
                                                                    <label for="radiob_{{id}}"> {{ b }} </label>
                                                                </div>
                                                            {{/compare}}
                                                            {{#compare max_jawaban '3' operator="=="}}
                                                                <div class="toggle">
                                                                    <input class="m-r-200" type="radio" required="required" name="radio{{id}}" id="radioa_{{id}}" value="{{ a }}">
                                                                    <label class="m-r-200" for="radioa_{{id}}"> {{ a }} </label>
                                                                    &nbsp

                                                                    <input type="radio" required="required" name="radio{{id}}" id="radiob_{{id}}" value="{{ b }}">
                                                                    <label for="radiob_{{id}}"> {{ b }} </label>
                                                                    &nbsp
                                                        
                                                                    <input type="radio" required="required" name="radio{{id}}" id="radioc_{{id}}" value="{{ c }}">
                                                                    <label for="radioc_{{id}}"> {{ c }} </label>
                                                                </div> 
                                                                    {{#compare sub 'c' operator="=="}}
                                                                    <div id="subradioc_{{id}}" class="boxc" style="display: none;">
                                                                        {{ sub_pertanyaan }}: &nbsp
                                                                        <div class="toggle">
                                                                            <input class="m-r-200" type="radio" name="radiosub{{id}}" id="radiosuba_{{id}}" value="{{ sub_jawaban_a }}">
                                                                            <label class="m-r-200" for="radiosuba_{{id}}"> {{ sub_jawaban_a }} </label>
                                                                            &nbsp

                                                                            <input type="radio" name="radiosub{{id}}" id="radiosubb_{{id}}" value="{{ sub_jawaban_b }}">
                                                                            <label for="radiosubb_{{id}}"> {{ sub_jawaban_b }} </label>
                                                                            &nbsp

                                                                            <input type="radio" name="radiosub{{id}}" id="radiosubc_{{id}}" value="{{ sub_jawaban_c }}">
                                                                            <label for="radiosubc_{{id}}"> {{ sub_jawaban_c }} </label>
                                                                            &nbsp

                                                                            <input type="radio" name="radiosub{{id}}" id="radiosubd_{{id}}" value="{{ sub_jawaban_d }}">
                                                                            <label for="radiosubd_{{id}}"> {{ sub_jawaban_d }} </label>
                                                                            &nbsp
                                                                        </div>
                                                                    </div>
                                                                {{/compare}}
                                                            {{/compare}}
                                                            {{#compare max_jawaban '7' operator="=="}}
                                                                <div class="toggle">
                                                                    <input class="m-r-200" type="radio" required="required" name="radio{{id}}" id="radioa_{{id}}" value="{{ a }}">
                                                                    <label class="m-r-200" for="radioa_{{id}}"> {{ a }} </label>
                                                                    &nbsp

                                                                    <input type="radio" required="required" name="radio{{id}}" id="radiob_{{id}}" value="{{ b }}">
                                                                    <label for="radiob_{{id}}"> {{ b }} </label>
                                                                    &nbsp
                                                            
                                                                    <input type="radio" required="required" name="radio{{id}}" id="radioc_{{id}}" value="{{ c }}">
                                                                    <label for="radioc_{{id}}"> {{ c }} </label>
                                                                    &nbsp
                                                            
                                                                    <input type="radio" required="required" name="radio{{id}}" id="radiod_{{id}}" value="{{ d }}">
                                                                    <label for="radiod_{{id}}"> {{ d }} </label>
                                                                    &nbsp

                                                                    <input type="radio" required="required" name="radio{{id}}" id="radioe_{{id}}" value="{{ e }}">
                                                                    <label for="radioe_{{id}}"> {{ e }} </label>
                                                                    &nbsp

                                                                    <input type="radio" required="required" name="radio{{id}}" id="radiof_{{id}}" value="{{ f }}">
                                                                    <label for="radiof_{{id}}"> {{ f }} </label>
                                                                    &nbsp

                                                                    <input type="radio" required="required" name="radio{{id}}" id="radiog_{{id}}" value="{{ g }}">
                                                                    <label for="radiog_{{id}}"> {{ g }} </label>
                                                                </div>
                                                                {{#compare essay 'g' operator="=="}}
                                                                    <div id="essayradiog_{{id}}" class="boxg" style="display: none;">
                                                                        Jelaskan:
                                                                        <textarea class="form-control essayboxg" name="essayboxg" id="essayboxg" rows="10"></textarea>
                                                                    </div>
                                                                {{/compare}}
                                                            {{/compare}}
                                                            {{#compare max_jawaban '9' operator="=="}}
                                                                <div class="toggle">
                                                                    <input class="m-r-200" type="radio" required="required" name="radio{{id}}" id="radioa_{{id}}" value="{{ a }}">
                                                                    <label class="m-r-200" for="radioa_{{id}}"> {{ a }} </label>
                                                                    &nbsp

                                                                    <input type="radio" required="required" name="radio{{id}}" id="radiob_{{id}}" value="{{ b }}">
                                                                    <label for="radiob_{{id}}"> {{ b }} </label>
                                                                    &nbsp
                                                            
                                                                    <input type="radio" required="required" name="radio{{id}}" id="radioc_{{id}}" value="{{ c }}">
                                                                    <label for="radioc_{{id}}"> {{ c }} </label>
                                                                    &nbsp
                                                            
                                                                    <input type="radio" required="required" name="radio{{id}}" id="radiod_{{id}}" value="{{ d }}">
                                                                    <label for="radiod_{{id}}"> {{ d }} </label>
                                                                    &nbsp

                                                                    <input type="radio" required="required" name="radio{{id}}" id="radioe_{{id}}" value="{{ e }}">
                                                                    <label for="radioe_{{id}}"> {{ e }} </label>
                                                                    &nbsp

                                                                    <input type="radio" required="required" name="radio{{id}}" id="radiof_{{id}}" value="{{ f }}">
                                                                    <label for="radiof_{{id}}"> {{ f }} </label>
                                                                    &nbsp

                                                                    <input type="radio" required="required" name="radio{{id}}" id="radiog_{{id}}" value="{{ g }}">
                                                                    <label for="radiog_{{id}}"> {{ g }} </label>
                                                                    &nbsp

                                                                    <input type="radio" required="required" name="radio{{id}}" id="radioh_{{id}}" value="{{ h }}">
                                                                    <label for="radioh_{{id}}"> {{ h }} </label>
                                                                    &nbsp

                                                                    <input type="radio" required="required" name="radio{{id}}" id="radioi_{{id}}" value="{{ i }}" class="haveessay">
                                                                    <label for="radioi_{{id}}"> {{ i }} </label>
                                                                </div>
                                                                
                                                                {{#compare essay 'i' operator="=="}}
                                                                    <div id="essayradioi_{{id}}" class="boxi" style="display: none;">
                                                                        Jelaskan:
                                                                        <textarea class="form-control essayboxi" name="essayboxi" id="essayboxi" rows="10"></textarea>
                                                                    </div>
                                                                {{/compare}}
                                                            {{/compare}} --}}
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="text-center">
                                                            1.2
                                                        </td>
                                                        <td>
                                                            Umur Balita: <br>
                                                            <input type="hidden" class="form-control" id="soal1.2" name="soal1.2" value="Umur Balita">
                                                            <input type="text" class="form-control" id="umurbalita" name="umurbalita" readonly>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="text-center">
                                                            1.3
                                                        </td>
                                                        <td>
                                                            Tanggal Lahir Balita: <br>
                                                            <input type="hidden" class="form-control" id="soal1.3" name="soal1.3" value="Tanggal Lahir Balita">
                                                            <input type="text" class="form-control mydatepicker" id="tanggallahir" name="tanggallahir" placeholder="yyyy/mm/dd">
                                                            {{!-- <span class="input-group-addon"><i class="icon-calender"></i></span> --}}
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="text-center">
                                                            1.4
                                                        </td>
                                                        <td>
                                                            Jenis Kelamin Balita: <br>
                                                            <input type="hidden" class="form-control" id="soal1.4" name="soal1.4" value="Jenis Kelamin Balita">
                                                            <select class="select2" id="jeniskelamin" name="jeniskelamin" style="width: 100%" required>
                                                                    <option value="Laki-Laki">Laki-Laki</option>
                                                                    <option value="Perempuan">Perempuan</option>
                                                                    <option value="Ambigu">Ambigu</option>
                                                            </select>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="text-center">
                                                            1.5
                                                        </td>
                                                        <td>
                                                            Urutan Balita Ke-: <br>
                                                            <input type="hidden" class="form-control" id="soal1.5" name="soal1.5" value="Urutan Balita Ke-:">
                                                            <input type="number" class="form-control" id="balitake" name="balitake">
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="text-center">
                                                            1.6
                                                        </td>
                                                        <td>
                                                            Jumlah Balita yang Dilahirkan (Hidup) <br>
                                                            <input type="hidden" class="form-control" id="soal1.6" name="soal1.6" value="Jumlah Balita yang Dilahirkan (Hidup)">
                                                            <input type="number" class="form-control" id="jumlahbalitadilahirkanhidup" name="jumlahbalitadilahirkanhidup">
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="text-center">
                                                            1.7
                                                        </td>
                                                        <td>
                                                            Nama Ibu: <br>
                                                            <input type="hidden" class="form-control" id="soal1.7" name="soal1.7" value="Nama Ibu:">
                                                            <input type="number" class="form-control" id="jawabannamaibu" name="jawabannamaibu">
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="text-center">
                                                            1.8
                                                        </td>
                                                        <td>
                                                            Umur Ibu: <br>
                                                            <input type="hidden" class="form-control" id="soal1.7" name="soal1.7" value="Umur Ibu:">
                                                            <input type="number" class="form-control" id="jawabanumuribu" name="jawabanumuribu">
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="text-center">
                                                            1.9
                                                        </td>
                                                        <td>
                                                            Pekerjaan Ibu: <br>
                                                            <input type="hidden" class="form-control" id="soal1.4" name="soal1.4" value="Pekerjaan Ibu">
                                                            
                                                        </td>
                                                    </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    {{!-- End of tabel list soal --}}
                                    <hr>
                                    <br>
                                    <div class="form-actions text-right">
                                        <button type="submit" id="tombolsimpan" class="btn btn-block btn-outline-success"> <i class="fa fa-check"></i> Simpan Jawaban</button>
                                        <button type="reset" id="tombolreset" class="btn btn-block btn-outline-warning">Reset</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                {{!-- end of row --}}
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Right sidebar -->
                <!-- ============================================================== -->
                <!-- .right-sidebar -->
                
                <!-- ============================================================== -->
                <!-- End Right sidebar -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            {{> footer}}
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    {{> plugins}}
    <script src="/js/client/disablebutton/assessmentkarir.js"></script>
    {{!-- <script src="/js/client/datatable/pertanyaan.js"></script> --}}
    <script src="/js/client/datepicker/tambahdatakematian.js"></script>
    {{!-- <script src="/js/client/modal/soal.js"></script> --}}
    {{!-- <script src="/js/client/adddiv/soal.js"></script> --}}
    {{#if datasoal}}
    {{#each datasoal}} {{#compare sub 'c' operator="=="}} 
        <script>
            $(document).ready(function(){
                var nama = 'radio'+{{id}}
                var namasub = 'radiosub'+{{id}}
                $("input[name$='"+nama+"']").click(function() {
                    var inputValue = $(this).attr("id");
                    $("div.boxc").hide();
                    $('input[name='+namasub+']').prop('checked', false);

                    var add = '#sub'+inputValue
                    $(add).show();
                    $('input[name='+namasub+']').setAttribute("required","required");
                });
            });
        </script>
    {{/compare}} {{/each}}
    {{#each datasoal}} {{#compare essay 'g' operator="=="}} 
        <script>
            $(document).ready(function(){
                var nama = 'radio'+{{id}}
                $("input[name$='"+nama+"']").click(function() {
                    var inputId = $(this).attr("id");
                    
                    $("div.boxg").hide();
                    $('#essayboxg').val('');

                    var add = '#essay'+inputId
                    $(add).show();
                });
            });
        </script>
    {{/compare}} {{/each}}
    {{#each datasoal}} {{#compare essay 'i' operator="=="}} 
        <script>
            $(document).ready(function(){
                var nama = 'radio'+{{id}}
                $("input[name$='"+nama+"']").click(function() {
                    var inputId = $(this).attr("id");
                    
                    $("div.boxi").hide();
                    $('#essayboxi').val('');

                    var add = '#essay'+inputId
                    $(add).show();
                });
            });
        </script>
    {{/compare}} {{/each}}
    {{/if}}
</body>

</html>